<!DOCTYPE html><html><head>
    <title>cloud app</title>
    <link rel="stylesheet" href="/stylesheets/style.css"></head>
  <body>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script><script src="/jquery.ui.widget.js"></script><script src="/jquery.iframe-transport.js"></script><script src="/jquery.fileupload.js"></script><script src="/jquery.cloudinary.js"></script>
ejs view
<h1>gallery</h1>
<p>welcome to my gallery</p>
<form>
  <input type=file name=image>
  <input type=submit value="upload image">

</form>

<script>
  $('.cloudinary-fileupload').bind('fileuploadstart', function(e){
    $('.preview').html('upload started')
  })
  $('.cloudinary-fileupload').bind('cloudinarydone', function(e){
    $('.preview').html('upload finished')
  })
</script>
</body></html>
