!!! 5
html(lang='en')
head
  meta(charset='utf-8')
  title gallery CMS
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(name='description', content='A calm, blue sky.')
  meta(name='author', content='Thomas Park')
  //if lt IE 9
    script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
  link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
  link(href='stylesheets/bootstrap-responsive.min.css', rel='stylesheet')
  link(href='stylesheets/font-awesome.min.css', rel='stylesheet')
  link(href='stylesheets/bootswatch.css', rel='stylesheet')
  body#top.preview(data-spy='scroll', data-target='.subnav', data-offset='80')


    header#overview.jumbotron.subhead
        .row
            .span6
              h1 Cerulean
              p.lead A calm, blue sky.
            .span6
        .subnav
          ul.nav.nav-pills
            li
              a(href='#typography') Typography
            li
              a(href='#navbar') Navbar
            li
              a(href='#buttons') Buttons
            li
              a(href='#forms') Forms
            li
              a(href='#tables') Tables
            li
              a(href='#miscellaneous') Miscellaneous


.navbar.navbar-fixed-top
    .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='../') Bootswatch
          #main-menu.nav-collapse.collapse
            ul#main-menu-left.nav
              li
                a(onclick='pageTracker._link(this.href); return false;', href='http://news.bootswatch.com') News
              li
                a#swatch-link(href='../#gallery') Gallery
              li.dropdown
                a.dropdown-toggle(data-toggle='dropdown', href='#')
                  | Preview
                  b.caret
                ul#swatch-menu.dropdown-menu
                  li
                    a(href='../default') Default
                  li.divider
                  li
                    a(href='../amelia') Amelia
                  li
                    a(href='../cerulean') Cerulean
                  li
                    a(href='../cosmo') Cosmo
                  li
                    a(href='../cyborg') Cyborg
                  li
                    a(href='../journal') Journal
                  li
                    a(href='../readable') Readable
                  li
                    a(href='../simplex') Simplex
                  li
                    a(href='../slate') Slate
                  li
                    a(href='../spacelab') Spacelab
                  li
                    a(href='../spruce') Spruce
                  li
                    a(href='../superhero') Superhero
                  li
                    a(href='../united') United
              li#preview-menu.dropdown
                a.dropdown-toggle(data-toggle='dropdown', href='#')
                  | Download
                  b.caret
                ul.dropdown-menu
                  li
                    a(target='_blank', href='bootstrap.min.css') bootstrap.min.css
                  li
                    a(target='_blank', href='bootstrap.css') bootstrap.css
                  li.divider
                  li
                    a(target='_blank', href='variables.less') variables.less
                  li
                    a(target='_blank', href='bootswatch.less') bootswatch.less
            ul#main-menu-right.nav.pull-right
              li
                a(rel='tooltip', target='_blank', href='http://builtwithbootstrap.com/', title='', onclick='_gaq.push([\'_trackEvent\', \'click\', \'outbound\', \'builtwithbootstrap\']);', data-original-title='Showcase of Bootstrap sites & apps')
                  | Built With Bootstrap
                  i.icon-share-alt
              li
                a(rel='tooltip', target='_blank', href='https://wrapbootstrap.com/?ref=bsw', title='', onclick='_gaq.push([\'_trackEvent\', \'click\', \'outbound\', \'wrapbootstrap\']);', data-original-title='Marketplace for premium Bootstrap templates')
                  | WrapBootstrap
                  i.icon-share-alt




  footer#footer
      p.pull-right
          a(href='#top') Back to top
        .links
          a(href='http://news.bootswatch.com', onclick='pageTracker._link(this.href); return false;') Blog
          a(href='http://feeds.feedburner.com/bootswatch') RSS
          a(href='https://twitter.com/thomashpark') Twitter
          a(href='https://github.com/thomaspark/bootswatch/') GitHub
          a(href='https://github.com/thomaspark/bootswatch/tree/gh-pages/swatchmaker') Swatchmaker
          a(href='http://news.bootswatch.com/post/22193315172/bootswatch-api') API
          a(href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=F22JEM3Q78JC2') Donate
